
<div class="container">
  <div class="row">
    <div class="col-md-8">
    <ul class="list-group">
      <li class="list-group-item review-title"><h4 class="searchTitle"><%= review.title %></h4></li>
      <li class="list-group-item"><%= review.genre %></li>
      <li class="list-group-item"><%= review.review %></li>
      <li class="list-group-item"><% for (var i = 0; i < parseFloat(review.rating); i++) {%>
        <div class=".star" style="color:#FFD700; display:inline;">☆</div>
        <% } %></li>
      <div class="rating">



    </div>


    </ul>
    <div style="display: inline-block;">
      <button class="btn btn-primary"><a href="/reviews/<%= review._id %>/edit">Edit</a></button>
      <form action="/reviews/<%= review.id %>" method="post">
        <input type="hidden" name="_method" value="Delete">
        <input type="submit" class="btn btn-primary" value="Delete">
      </form>
    </div>


<div class="">

    <div>
      <p>Add New Comment to <%= review.title %></p></br>
      <form action="/reviews/<%= review._id %>" method="POST">
        <div class="form-group">
          <textarea class="form-control" type="text" name="text" placeholder="add a comment"></textarea>
        </div>
        <div class="form-group">

          <button class="btn  btn-primary btn-block">Submit Comment</button>

        </div>

      </form>

    </div>
    <ul>
        <hr>
        <% review.comments.forEach(comment => { %>
          <div style="list-style-type: none;"><li><strong><%= comment.user.username %></strong> --->    <%= comment.text %></li></div>
        <% }); %>
      </ul>
  </div>

  </div>
  <div class="col-md-4">
    <div class="showApi">

    </div>
  </div>
  </div>
</div>
<%# <a href="/comments/new">Add a Comment</a>%>


  <div class="row">


  </div>
  <div class="" id="filmShow">


  </div>
