<h1><%= review.title %></h1>
<p><%= review.genre %></p>
<p><%= review.review %></p>
<p><%= review.rating %></p>
<a href="/reviews/<%= review._id %>/edit">Edit</a>
<form action="/reviews/<%= review.id %>" method="post">
  <input type="hidden" name="_method" value="Delete">
  <input type="submit" value="Delete">
</form>
<%# <a href="/comments/new">Add a Comment</a>%>

<div class="container">
  <div class="row col-md-6">


    <div>
      <p >Add New Comment to <%= review.title %></p></br>
      <form action="/reviews/<%= review._id %>" method="POST">
        <div class="form-group">
          <textarea class="form-control" type="text" name="text" placeholder="add a comment"></textarea>
        </div>
        <div class="form-group">
          <button class="btn  btn-primary btn-block">Submit Comment</button>
        </div>

      </form>

    </div>

  </div>
  <div class="col-md-6">
  
</ul>
  </div>


<ul>
  <% review.comments.forEach(comment => { %>
    <div><%= comment.text %></div>
  <% }); %>
</ul>
